body, html {
    height: 100%;
}


.parallax {
    /* The image used */
    background-image: url('../images/2.svg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gallery{
    margin-left: 7%;
}
#menu{
    position:relative;
    top:35px;

}

#menu a:hover{
    color:#9fa1a6;
}
.menuItem{
    color:#9fa1a6;
    margin-left: 15px
}
#header{
    margin:15px 0 15px 0;
}
.nav-pills li.active a{
    background-color: white;
    color:#9fa1a6;
}

.nav-pills li.active a:hover {
    background-color: #9fa1a6;
    color:white;
}
.job{
    color:black;
}

a:hover{
    color:white;
}
#work{
    margin-bottom: 50px;
}
#footerP{
    text-align: right;
}

#skills{
    position: relative;
    left: 180px;    
    bottom: 176px;
}
.imageTitle{
   color: black;
   text-align: center;

}
#lengDiv{
    position: relative; 
    right: 350px;
}

#lengTitle{
 
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 3em;
    color:white;
}

#footer{
    padding: 15px 0 15px 0;
    margin-top: 50px;
    color:#9fa1a6;
    background-color:white;
    font-size:14px; 
    text-align: center;
    }

.logo{
    width:28px;
    float:right;
    margin-left: 8px;


}
#block1{
	height:auto;
	background-image: url('../images/blockback.svg');
    background-color: #9fa1a6;
	}

#portfolio{
    position:relative;
    left:70px;
}
#block2{
    height:auto;
    background: linear-gradient( #848484, #9fa1a6);
    background-color:#9fa1a6;
    }
.subtitle{
	font-family: 'Poiret One', cursive;

	text-align: center;
	font-size: 6em;
	color:white;
}
#webButton{

    border-radius: 15px;
    position:relative;
    right:87px;
    top:40px;
}

#webButton:hover, #graphicButton:hover{
 
    background-color: #4e4e4e;

}

#graphicButton{

    border-radius: 15px; 
    position:relative;
    right:40px;
    top:40px;
}

#contactbox{
    margin-top:100px;
}
.subtitle2{
	font-family: 'Poiret One', cursive;
	text-align: left;
	font-size: 3em;
	color:white;
}

#fbcol{
    margin-top:140px;
    margin-left: 30px;
}
.parallax2 {
    /* The image used */
    background-image: url('../images/back2.svg');
    background-color: #848484;


    /* Full height */
    height: 70%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-pic{
	width:250px;
	border: 5px solid white;
	margin-left: 200px;
	margin-top: 50px;
	box-shadow: 2px 2px 5px #888888;
}

.bio{
	margin-bottom:20px;
}

#estudios{
	text-align: left;
	margin-bottom: 40px;
}


@media screen and (max-width: 980px){

#header{
    margin:15px 0 50px 0;
}

.menuItem{
    color:#9fa1a6;
    margin-left: 10px
}

#profile-pic{
    width:250px;
    border: 5px solid white;
    margin-left: 350px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #888888;
}
.bio{
    margin:20px 60px 20px 60px;
}

.estudiosdiv{
    text-align: left;
    margin-bottom: 40px;
    margin-left: 80px;
}

.skills{
    text-align: left;
    margin-bottom: 50px;
    margin-left: 80px;
}

#workex{
    margin-left:470px;
    position:relative;
    bottom:960px;
}
#block1{
    height:1450px;
    background-image: url('../images/blockback2.svg');
    background-color: #9fa1a6;
    }

#portfolio{
    position:relative;
    left:5px;
} 

#webButton{

    border-radius: 15px;
    position:relative;
    left:520px;

}

#graphicButton{

    border-radius: 15px; 
    position:relative;
    left:130px;
    top:95px;
}

#graphic{
    margin-top: 90px;
}

#contactBox{
    margin-left: 80px;
    margin-right:500px;
}

#fbcol{
    position: relative;
    left: 500px;
    bottom: 395px;
}
#footerP{
    text-align: center;
}

.logo{
    width:28px;
    margin-left: 8px;

}
}
@media screen and (min-width: width: 768px) {
    #header{
    margin:15px 0 50px 0;
}

.menuItem{
    color:#9fa1a6;
    margin-left: 10px
}

#profile-pic{
    width:240px;
    border: 5px solid white;
    margin-left: 250px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #888888;
}
.bio{
    margin:20px 60px 20px 60px;
}

.estudiosdiv{
    text-align: left;
    margin-bottom: 40px;
    margin-left: 60px;
}

.skills{
    text-align: left;
    margin-bottom: 50px;
    margin-left: 60px;
}

#workex{
    margin-left:370px;
    position:relative;
    bottom:960px;
}
#block1{
    height:1450px;
    background-image: url('../images/blockback3.svg');
    background-color: #9fa1a6;
    }



#webButton{

    border-radius: 15px;
    position:relative;
    left:370px;

}

#graphicButton{

    border-radius: 15px; 
    position:relative;
    left:50px;
    top:95px;
}

#graphic{
    margin-top: 90px;
}

#contactBox{
    margin-left: 80px;
    margin-right:400px;
}

#fbcol{
    position: relative;
    left: 300px;
    bottom: 440px;
}

}
@media screen and (max-width: 640px){


#profile-pic{

    margin-left: 180px;

}

.estudiosdiv{
    margin-left: 15px;
}

.skills{

    margin-left: 12px;
    margin-top: 60px;
}

.bio{
    margin:20px 60px 60px 60px;
}

#workex{
    margin-left:275px;
    position:relative;
    bottom:1000px;
}
#block1{
    height:1450px;
    background-image: url('../images/blockback4.svg');
    background-color: #9fa1a6;
    }

#languagesPic{
height: 100px;
}

#webButton{

    border-radius: 15px;
    position:relative;
    left:290px;

}

#graphicButton{

    border-radius: 15px; 
    position:relative;
    left:1px;
    top:95px;
}

#graphic{
    margin-top: 90px;
}

#contactBox{
    margin: 0 80px 0 80px;

}

#fbcol{
    position: relative;
    left: 80px;
    bottom: 30px;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/back3.svg');
    background-color: #848484;


    /* Full height */
    height: 45%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media screen and (max-width :1280px) {



#webButton{

    border-radius: 15px;
    position:relative;
    left:5px;

}

#graphicButton{

    border-radius: 15px; 
    position:relative;
    left:1px;
    top:39px;
}
#block1{
    height: 1603px;
}
}


@media screen and (max-width:360px){


#profile-pic{

    margin-top: 50px;
    margin-left: 30px;
}



#webButton{

    position:relative;
    left: 10px;
    top:45px;

}

#graphicButton{

    position:relative;
    left:20px;

}
#block1{
    height: 2300px;
    background-color: #848484;
    
}

.estudiosdiv{
    margin-left: 40px;
}

.skills{

    margin-left: 20px;
    margin-top: 60px;
}
#workex{
    margin-left:10px;
    margin-top: 860px;
}

#fbcol{
    margin-top:140px;
    position: relative;
    left:-2px;
    width: 200px;
    margin-left: 0;
}
}

